@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/sizes';

.screenshare-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.video-js {
  font-family: $font-family;
  font-weight: $font-weight-regular;
}
