@import 'src/styles/images';

.presentation-wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.presentation {
  display: flex;
  height: 100%;
  width: 100%;
}

.tlui-menu {
  display: none;
}

.tl {
   background-color: white;
}

.tl-container {
  --tl-cursor-default: unset;
  .tl-image {
    background-color: white !important;
  }
  .tl-background {
    background-color: #F9FAFB !important;
  }
}
