@import 'src/styles/fonts';
@import 'src/styles/colors';

$avatar: 2.25rem;
$gap: .15rem;
$margin: .5rem;
$name: 70%;
$padding: .75rem;

.chat-wrapper {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: small;
  padding: $padding;
  overflow-y: auto;
  width: 100%;
}

.chat {
  display: flex;
  padding: 0 0 $padding 0;
  width: 100%;
}

.avatar-wrapper {
  display: flex;
  height: 100%;
  margin: 0 $margin 0 0;
}

.avatar {
  border-radius: 50%;
  height: $avatar;
  text-align: center;
  width: $avatar;

  .initials {
    align-items: center;
    color: white;
    display: flex;
    font-weight: $font-weight-bold;
    height: 100%;
    justify-content: center;
    text-transform: capitalize;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width:100%
}

.info {
  display: flex;
  width: 100%;
  margin: 0 $gap $gap 0;
}

.name {
  font-weight: $font-weight-bold;
  max-width: $name;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time {
  align-items: center;
  color: $gray-light;
  cursor: pointer;
  display: flex;
  font-size: x-small;
  margin: 0 0 0 $margin;
}

.message {
  width: 100%;
}

.inactive {
  color: $gray-lighter;
}
