@import 'src/styles/icons';
@import 'src/styles/sizes';

$button-size: 2.75rem;

.button-wrapper {
  display: flex;
  height: $button-size;
  margin: 0 $margin 0 $margin;
  width: $button-size;

  .button {
    border-radius: 50%;
    cursor: pointer;
    font-size: large;
    height: 100%;
    outline: none;
    width: 100%;
  }

  .default {
    background-color: transparent;
    border: none;
    color: var(--gray);

    &:focus {
      box-shadow: 0 0 0 $margin-extra-small;
    }
  }

  .solid {
    background-color: var(--button-color);
    border: none;
    color: var(--white);

    &:focus {
      box-shadow: 0 0 0 $margin-extra-small var(--button-color);
    }
  }

  .ghost {
    background-color: transparent;
    border: solid;
    color: var(--gray);

    &:focus {
      box-shadow: 0 0 0 $margin-extra-small;
    }
  }

  .disabled {
    background-color: var(--gray-light);
    border: none;
    color: var(--white);
    cursor: not-allowed;
  }
}
