$gray-darkest: #111111;
$gray-dark: #06172a;
$gray: #4e5a66;
$gray-light: #8b9aa8;
$gray-lighter: #a7b3bd;
$gray-lightest: #d4d9df;

$blue: #0f70d7;
$blue-light: #54a1f3;
$blue-lighter: #92bcea;
$blue-lightest: #e4ecf2;

$box-shadow-color: $gray-light;
