$control-bar-height: 30px;

$border-radius: 5px;
$box-shadow-blur-radius: 5px;

$player-wrapper-padding: $control-bar-height;

$thumbnails-wrapper-bottom: $control-bar-height;
$thumbnails-wrapper-height: 100px;

