$control-bar-height: 30px;
$media-min-width: 600px;

$video-height: 480px;
$video-width: 640px;

$section-width: calc(#{$video-width} / 2);
$header-height: 60px;
$footer-height: 60px;

$border-radius: .35rem;
$border-width: .20rem;
$margin: .5rem;
$margin-small: .35rem;
$margin-extra-small: .15rem;
$padding: .75rem;
$padding-small: .5rem;
$padding-extra-small: .25rem;
