@import 'src/styles/icons';
@import 'src/styles/sizes';

.about-body {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.about-body {
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 $padding;

  .item {
    box-sizing: border-box;
    display: flex;
    font-size: large;
    font-weight: var(--font-weight-semi-bold);
    padding: $padding-small 0;

    .value {
      box-sizing: border-box;
      padding: 0 $padding;
    }

    .green {
      color: var(--green);
    }

    .red {
      color: var(--red);
    }
  }
}
