@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/icons';
@import 'src/styles/sizes';

.more-wrapper {
  align-items: center;
  background-color: transparentize($main-background-color, .25);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.more {
  background-color: $section-background-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  max-width: $modal-max-width;
  max-height: 80%;
  padding: 0 $padding-small;
  width: 80%;

  .control,
  .header,
  .body,
  .footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
  }


  .control {
    flex-direction: row-reverse;
    height: $modal-bar-height;
    padding: $padding-small;

    .button {
      color: $gray-light;
      font-weight: $font-weight-semi-bold;
    }
  }

  .header {
    flex-direction: column;
    font-weight: $font-weight-regular;
    padding: 0 0 $padding 0;

    .name,
    .date {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
    }

    .name {
      font-size: larger;
      overflow: hidden;
      padding: 0 0 $padding-extra-small 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .date {
      color: $gray-light;
      font-size: small;
      padding: 0 $padding-small;

      .item {
        box-sizing: border-box;
        padding: 0 $padding-extra-small;
      }
    }
  }

  .body {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 $padding;

    .item {
      box-sizing: border-box;
      display: flex;
      font-size: large;
      font-weight: $font-weight-semi-bold;
      padding: $padding-small 0;

      .key {
        color: $gray;
      }

      .value {
        box-sizing: border-box;
        padding: 0 $padding;
      }

      .green {
        color: $green;
      }

      .red {
        color: $red;
      }
    }
  }

  .footer {
    align-items: center;
    padding: $padding;

    .item {
      box-sizing: border-box;
      color: $gray-light;
      display: flex;
      font-size: small;
      padding: $padding 0 0 0;
      width: 100%;

      .value {
        box-sizing: border-box;
        padding: 0 $padding-small;
      }
    }
  }
}
