$marker-size: .3rem;

.vjs-marker {
  height: 100%;
  position: absolute;
  width: 100%;
}

.vjs-marker-item {
  background-color: var(--marker-color);
  height: 100%;
  position: absolute;
  width: $marker-size;
}
