@import 'src/styles/sizes';

$player-wrapper-padding: $control-bar-height;

$loading-dot-size: 20px;
$loading-dots-width: 100px;

$error-font-size: 5rem;

.error-wrapper,
.loader-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.error-wrapper {
  background-color: var(--error-background-color);
}

.loader-wrapper {
  background-color: var(--loader-background-color);
}

.player-wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "top-bar content"
    "media content"
    "application content"
    "bottom-bar content";
  grid-template-columns: 100% auto;
  grid-template-rows: $top-bar-height auto auto $bottom-bar-height;
  height: 100%;
  padding: 0 0 $player-wrapper-padding 0;
  width: 100%;

  .fullscreen-button {
    visibility: hidden;
  }

  .talkers-wrapper {
    visibility: hidden;
  }
}

.single-content {
  grid-template-areas:
    "top-bar content"
    "application content"
    "application content"
    "bottom-bar content";
}

.hidden-section {
  grid-template-areas:
    "media top-bar"
    "media content"
    "application content"
    "application bottom-bar";
  grid-template-columns: 0% auto;

  .fullscreen-button {
    visibility: visible;
  }

  .talkers-wrapper {
    visibility: visible;
  }
}

.fullscreen-content {
  grid-template-columns: 0% auto;
  grid-template-rows: 0% auto auto 0%;

  .fullscreen-button {
    visibility: visible;
  }

  .talkers-wrapper {
    visibility: visible;
  }
}

.error-code,
.loading-dots {
  margin: auto;
  text-align: center;
}

.error-code {
  color: var(--error-color);
  font-size: $error-font-size;
  font-weight: var(--font-weight-bold);
}

.loading-dots {
  width: $loading-dots-width;

  div {
    animation: dots 1.4s infinite ease-in-out both;
    background-color: var(--loader-color);
    border-radius: 100%;
    display: inline-block;
    height: $loading-dot-size;
    margin: $margin-extra-small;
    width: $loading-dot-size;
  }

  .first {
    animation-delay: -0.32s;
  }

  .second {
    animation-delay: -0.16s;
  }

  .third {
    animation-delay: 0s;
  }

  @keyframes dots {
    0%,
    80%,
    100% {
      transform: scale(0);
    }

    40% {
      transform: scale(1);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  grid-area: content;
  height: 100%;
  width: 100%;

  .top-content {
    background-color: var(--top-content-background-color);
    color: var(--top-content-color);
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .bottom-content {
    background-color: var(--bottom-content-background-color);
    color: var(--bottom-content-color);
    display: flex;
    min-height: $bottom-content-height;
    position: relative;
    width: 100%;

    .active {
      background-color: var(--bottom-content-active-background-color);
    }

    .interactive {
      cursor: pointer;
      outline: none;

      &:focus,
      &:hover {
        background-color:var(--bottom-content-active-background-color);
      }
    }
  }

  .inactive {
    display: none;
  }

  .video-js {
    background-color: var(--top-content-background-color);
  }

  .button-wrapper {
    .solid {
      &:focus {
        box-shadow: 0 0 0 $margin-extra-small var(--box-shadow-color);
      }
    }
  }
}

.swapped-content {
  grid-area: media;

  .top-content {
    background-color: var(--media-background-color);
    color: var(--media-color);
  }

  .video-js {
    background-color: var(--media-background-color);
  }
}

.media {
  background-color: var(--media-background-color);
  display: flex;
  grid-area: media;
  height: 100%;
  width: 100%;

  .video-js {
    background-color: var(--media-background-color);
  }
}

.swapped-media {
  background-color: var(--top-content-background-color);
  grid-area: content;

  .video-js {
    background-color: var(--top-content-background-color);
  }

  .button-wrapper {
    .solid {
      &:focus {
        box-shadow: 0 0 0 $margin-extra-small var(--box-shadow-color);
      }
    }
  }
}

.application {
  background-color: var(--application-background-color);
  color: var(--application-color);
  display: flex;
  flex-direction: column;
  grid-area: application;
  height: 100%;
  width: 100%;

  .application-control {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    padding: $padding;

    .application-icon {
      box-sizing: border-box;
      display: flex;
      font-size: large;
      font-weight: var(--font-weight-semi-bold);
      opacity: .75;
      outline: none;
      overflow: hidden;

      [dir="ltr"] & {
        padding-left: $padding;
      }

      [dir="rtl"] & {
        padding-right: $padding;
      }
    }

    .inactive {
      cursor: pointer;
      opacity: .5;
    }
  }
}

.fullscreen-button {
  margin-top: $margin;
  position: fixed;
  z-index: 1;

  [dir="ltr"] & {
    right: 0;
  }

  [dir="rtl"] & {
    left: 0;
  }
}

@media (min-width: $media-min-width) {
  .player-wrapper {
    grid-template-areas:
      "media top-bar"
      "media content"
      "application content"
      "application content"
      "application bottom-bar";
    grid-template-columns: $section-width auto;
    grid-template-rows: $top-bar-height $media-fit-height auto auto $bottom-bar-height;

    .fullscreen-button {
      visibility: visible;
    }

    .talkers-wrapper {
      visibility: visible;
    }
  }

  .single-content {
    grid-template-areas:
      "application top-bar"
      "application content"
      "application content"
      "application content"
      "application bottom-bar";
  }

  .hidden-section {
    grid-template-columns: 0% auto;
  }

  .fullscreen-content {
    grid-template-columns: 0% auto;
    grid-template-rows: 0% auto auto auto 0%;
  }

  @media (max-height: $media-max-height) {
    .player-wrapper {
      grid-template-columns: $section-width-small auto;
      grid-template-rows: $top-bar-height $media-fit-height-small auto auto $bottom-bar-height;
    }

    .hidden-section {
      grid-template-columns: 0% auto;
    }

    .fullscreen-content {
      grid-template-columns: 0% auto;
      grid-template-rows: 0% auto auto auto 0%;
    }
  }
}
