@import 'src/styles/sizes';

:root {
  --gray-light-color: var(--gray-light);
  --gray-lightest-color: var(--gray-lightest);
  --highlight-color: var(--blue);
  --color-text: #111;
  --color-off-white: #F3F6F9;
  --color-gray-lightest: #D4D9DF;
  --color-danger-dark: #AE1010;
}

.reply-tag {
  background-color: var(--gray-lightest-color);
  display: flex;
  width: 90%;
  padding: $padding-small;
  margin-bottom: $margin-extra-small;
  border-radius: .35rem;
  align-items: center;
  line-height: 1;
}

.text-vanilla {
  color: var(--color-text);

  img {
    max-width: 100%;
    max-height: 100%;
  }

  p {
    margin: 0;
    white-space: pre-wrap;
  }

  pre:has(code),
  p code:not(pre > code) {
    background-color: var(--color-off-white);
    border: solid 1px var(--color-gray-lightest);
    border-radius: 4px;
    padding: 2px;
    margin: 0;
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
  }

  p code:not(pre > code) {
    color: var(--color-danger-dark);
  }

  h1 {
    font-size: 1.5em;
    margin: 0;
  }

  h2 {
    font-size: 1.3em;
    margin: 0;
  }

  h3 {
    font-size: 1.1em;
    margin: 0;
  }

  h4,
  h5,
  h6 {
    margin: 0;
  }
}


.user-message-wrapper {
  transition: background-color .5s ease;
}

.highlight {
  background-color: var(--highlight-color);
}

.message {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  width: 100%;

  [dir="ltr"] & {
    padding: 0 0 $padding $padding;
  }

  [dir="rtl"] & {
    padding: 0 $padding $padding 0;
  }

  .main-content-wrapper {
    display: flex;
  }

  .data {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width:100%;

    [dir="ltr"] & {
      margin: 0 0 0 $margin;
    }

    [dir="rtl"] & {
      margin: 0 $margin 0 0;
    }
  }

  .info {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    margin: 0 0 $margin-extra-small 0;

    [dir="ltr"] & {
      padding: 0 $padding-extra-small 0 0;
    }

    [dir="rtl"] & {
      padding: 0 0 0 $padding-extra-small;
    }
  }

  .edited-tag {
    color: var(--gray-light-color);
    font-style: italic;
    font-size: 75%;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    line-height: 1;
  }
  
  .edited-label {
    margin-left: 0.25rem;
  }

  .name {
    font-weight: var(--font-weight-semi-bold);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .time {
    align-items: center;
    display: flex;
    font-size: x-small;
    opacity: .75;

    [dir="ltr"] & {
      margin: 0 0 0 $margin;
    }

    [dir="rtl"] & {
      margin: 0 $margin 0 0;
    }
  }

  .text {
    box-sizing: border-box;
    overflow-wrap: break-word;
    width: 100%;
    white-space: pre-wrap;

    [dir="ltr"] & {
      padding: 0 $padding-extra-small 0 0;
    }

    [dir="rtl"] & {
      padding: 0 0 0 $padding-extra-small;
    }
  }

  .interactive {
    display: flex;
    height: max-content;
    outline: none;

    .avatar {
      cursor: pointer;
    }

    &:focus,
    &:hover {
      box-shadow: 0 0 0 $margin-extra-small var(--gray-light-color);
    }
  }

  .circle {
    border-radius: 50%;
  }

  .inactive {
    opacity: .5;
  }

  .emphasized {
    font-weight: var(--font-weight-semi-bold);
  }
}

.poll-wrapper {
  background-color: var(--poll-wrapper-background-color);
  border: $border-width-extra-small solid var(--poll-wrapper-color);
  padding: $padding-small $padding-small 0 $padding-small;

  [dir="ltr"] & {
    margin: 0 $margin 0 0;
  }

  [dir="rtl"] & {
    margin: 0 0 0 $margin;
  }

  .poll-options,
  .poll-question,
  .poll-result {
    padding-bottom: $padding-small;
  }

  .poll-bar {
    color: var(--poll-bar-color);
  }

  .poll-label {
    font-weight: var(--font-weight-semi-bold);
  }
}
