@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/sizes';

.video-wrapper {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: $padding-small;
  width: 100%;
}

.in-section {
  background-color: $section-background-color;
}

.video-js {
  font-family: $font-family;
  font-weight: $font-weight-regular;
}

.video-js .vjs-big-play-button,
.vjs-has-started .vjs-control-bar,
.vjs-text-track-display,
.video-js .vjs-modal-dialog {
  position: fixed;
  z-index: 1;
}

.vjs-text-track-display,
.video-js .vjs-modal-dialog {
  height: 100%;
  width: 100%;
}
