@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/sizes';

.video-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.video-js {
  font-family: $font-family;
  font-weight: $font-weight-regular;
}

.video-js .vjs-big-play-button,
.vjs-has-started .vjs-control-bar,
.vjs-text-track-display,
.video-js .vjs-modal-dialog {
  position: fixed;
  z-index: 1;
}

.vjs-text-track-display,
.video-js .vjs-modal-dialog {
  height: 100%;
  width: 100%;
}

:not(.vjs-has-started) .vjs-control-bar {
  display: flex;
  position: fixed;
  z-index: 1;
}

[class^="vjs-text-track-cue"] {
  inset: auto 0 calc(#{$control-bar-height} * 2) 0 !important;
  z-index: 2;
}
