@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/icons';
@import 'src/styles/sizes';

.header,
.body,
.footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.header {
  flex-direction: column;
  font-weight: $font-weight-regular;
  padding: 0 0 $padding 0;

  .title,
  .subtitle {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: larger;
    overflow: hidden;
    padding: 0 0 $padding-extra-small 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .subtitle {
    color: $gray-light;
    font-size: small;
    padding: 0 $padding-small;
  }
}

.body {
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 $padding;
}

.footer {
  align-items: center;
  padding: $padding;
}
