@import 'src/styles/colors';
@import 'src/styles/sizes';

$thumbnails-wrapper-top: $header-height;
$thumbnails-wrapper-bottom: calc(#{$control-bar-height} + #{$footer-height});

.thumbnails-wrapper {
  background-color: $blue-lighter;
  bottom: $thumbnails-wrapper-bottom;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $padding-extra-small;
  position: fixed;
  right: 0;
  scroll-behavior: smooth;
  top: $thumbnails-wrapper-top;
  width: auto;
  z-index: 1;
}

.thumbnail {
  cursor: pointer;
  padding: 0 0 $padding-extra-small 0;
}
