@import 'src/styles/sizes';

.navigation-bar {
  background-color: var(--main-background-color);
  grid-area: navigation-bar;

  .title {
    color: white;
    font-weight: var(--font-weight-light);
    overflow: hidden;
    padding: $padding-small;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .button-wrapper {
    .solid {
      &:focus {
        border: solid var(--main-background-color);
      }
    }
  }
}

.action-bar {
  background-color: var(--main-background-color);
  grid-area: action-bar;

  .button-wrapper {
    .solid {
      &:focus {
        border: solid var(--main-background-color);
      }
    }
  }
}

.action-bar,
.navigation-bar {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 $padding-small;

  .left,
  .center,
  .right {
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    padding: $padding-small;
  }

  .left,
  .right {
    display: flex;
    width: 50%;
  }

  .left {
    justify-content: flex-start;
  }

  .center {
    display: grid;
    justify-content: center;
    width: 100%;
  }

  .right {
    justify-content: flex-end;
  }
}
