@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/sizes';

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $body-background-color;
  font-family: $font-family;
  font-weight: $font-weight-regular;
  margin: 0;
  overflow: hidden;
}

header,
section,
main,
footer {
  height: 100%;
  width: 100%;
}

header {
  background-color: $header-background-color;
  grid-area: header;

  .title {
    color: white;
    overflow: hidden;
    padding: $padding-small;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

footer {
  background-color: $footer-background-color;
  grid-area: footer;
}

section {
  background-color: $section-background-color;
  display: flex;
  grid-area: section;
  flex-direction: column;

  .top {
    display: flex;
    min-height: calc(#{$video-height} / 2);
    width: 100%;
  }

  .bottom {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .video-js {
    background-color: $section-background-color;
  }
}

main {
  background-color: $main-background-color;
  display: none;
  grid-area: main;

  .content {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    .inactive {
      display: none;
    }
  }

  .video-js {
    background-color: $main-background-color;
  }
}

header,
footer {
  display: flex;
  box-sizing: border-box;
  padding: 0 $padding-small;

  .left,
  .center,
  .right {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: $padding-small;
    width: 100%;
  }

  .left {
    justify-content: flex-start;
  }

  .center {
    justify-content: center;
  }

  .right {
    justify-content: flex-end;
  }
}

#root {
  height: 100%;
  width: 100%;
}

@media (min-width: $media-min-width) {
  main {
    display: flex;
  }
}
