@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/icons';
@import 'src/styles/sizes';

$button-size: 2.75rem;

.button-wrapper {
  display: flex;
  height: 100%;
  margin: 0 $margin 0 0;

  .button {
    border-radius: 50%;
    cursor: pointer;
    font-size: large;
    height: $button-size;
    width: $button-size;
    color: white;
  }

  .solid {
    background-color: $blue;
    border: none;

    &:focus {
      box-shadow: 0 0 0 $margin-extra-small $blue;
    }
  }

  .ghost {
    background-color: transparent;
    border: solid;

    &:focus {
      box-shadow: 0 0 0 $margin-extra-small;
    }
  }
}
