@import 'src/styles/sizes';

.system-message-wrapper {
  background-color: var(--system-message-wrapper-background-color);
  border: $border-width-extra-small solid var(--system-message-wrapper-color);
  padding: $padding-small $padding-small $padding-small $padding-small;

  [dir="ltr"] & {
    margin: 0 $margin 0 0;
  }

  [dir="rtl"] & {
    margin: 0 0 0 $margin;
  }
}
